<%= form_with model: user, local: true do |form| %>
    <div>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
      <% user.errors.full_messages_for(:name).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  
    <div>
      <%= form.label :email %><br>
      <%= form.text_area :email %><br>
      <% user.errors.full_messages_for(:email).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div>
      <%= form.label :password %><br>
      <%= form.text_area :password %><br>
      <% user.errors.full_messages_for(:password).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  

    <div>
      <%= form.label :password_confirmation %><br>
      <%= form.text_area :password_confirmation %><br>
      <% user.errors.full_messages_for(:password_confirmation).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div>
      <%= form.submit %>
    </div>
<% end %>
